@import url("https://fonts.googleapis.com/css2?family=Geist:wght@400;700&family=Geist+Mono:wght@400;700&display=swap");
@import "tailwindcss";

/* ---------- CSS Variables ---------- */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

:root {
  --toast-bg: #ffffff;
  --toast-text: #171717;
  --toast-border: rgba(0,0,0,0.08);
}

.dark {
  --toast-bg: #0f172a;
  --toast-text: #e5e7eb;
  --toast-border: rgba(255,255,255,0.08);
}


/* ---------- Global Styles ---------- */
html,
body {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Geist", system-ui, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
